body {
  font-family: Arial, sans-serif;
  background: #f0f8ff; /* light medical blue */
  margin: 0;
  padding: 0;
}

#pdf-content {
  margin: 0 auto;
  max-width: 210mm;
  width: 190mm;
  overflow: hidden;

}

.page {
  width: 190mm;
  height: 297mm;
  padding: 10mm 7mm;
  margin-top: 0 !important;

  background: white;
  box-sizing: border-box;
  page-break-after: always;
  position: relative;
  transform: none !important;
  transform-origin: top left;
  page-break-inside: avoid;
  break-inside: avoid;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

.subheading {
  text-align: center;
  font-size: 14px;
}

.form-group {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.form-group label {
  min-width: 90px;
}

.form-group input[type="text"] {
  min-width: 70px;
  padding: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

table td, table th {
  padding: 5px;
  vertical-align: top;
  border: 1px solid #ccc;
}

ol {
  margin: 0 20px;
}

table, .form-group, ol {
  break-inside: avoid;
  page-break-inside: avoid;
}

.signature label {
  display: block;
  margin-top: 10px;
}

#signaturePreview {
  display: block;
  max-height: 100px;
  margin-top: 10px;
}

.buttons {
  margin: 40px 0 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.centered {
  text-align: center;
}

.thankyou {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #555;
}

/* Hide interactive elements in print */
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }

  * {
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }

  input {
    border: none !important;
    background: transparent !important;
    outline: none !important;
  }

  .buttons,
  .thankyou {
    display: none !important;
  }

  .form-group {
    align-items: center;
    gap: 5px;
  }
}
